head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    meta(name='viewport', content='width=1010')

    title Sticker2
    meta(name='keywords', content='keys')
    meta(name='description', content='description')

    meta(property='og:image', content='path/to/png/image.png')
    link(rel='icon', type='image/png', href='/path/to/icon')

    link(rel='stylesheet', href='/style/normalize.css')
    link(rel='stylesheet', href='/style/style.css')
	